/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/vscode
.vscode
/socialite/node_modules
/socialite/public/hot
/socialite/public/storage
/socialite/vendor
/socialite/.idea
/socialite/.vagrant
/socialite/Homestead.json
/socialite/Homestead.yaml
/socialite/npm-debug.log
/socialite/.env
/socialite/vscode
/socialite/.vscode
.vscode
/autenticacao-manual/node_modules
/autenticacao-manual/public/hot
/autenticacao-manual/public/storage
/autenticacao-manual/vendor
/autenticacao-manual/.idea
/autenticacao-manual/.vagrant
/autenticacao-manual/Homestead.json
/autenticacao-manual/Homestead.yaml
/autenticacao-manual/npm-debug.log
/autenticacao-manual/.env
/autenticacao-manual/vscode
/autenticacao-manual/.vscode
/autorizacao/node_modules
/autorizacao/public/hot
/autorizacao/public/storage
/autorizacao/vendor
/autorizacao/.idea
/autorizacao/.vagrant
/autorizacao/Homestead.json
/autorizacao/Homestead.yaml
/autorizacao/npm-debug.log
/autorizacao/.env
/autorizacao/vscode
/autorizacao/.vscode
